<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="clips.ClipsViews"
         name="Clips"
         point="org.eclipse.ui.views">
      <view
            class="clips.views.ClipsView"
            icon="icons/clips.gif"
            id="clips.view.Clips"
            name="Clips"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="Clips.viewContribution"
            targetID="clips.view.Clips">
         <action
               class="clips.views.RemoveAllAction"
               icon="icons/removeall.gif"
               id="Clips.removeAllAction"
               label="Remove All"
               style="push"
               toolbarPath="additions"/>
         <action
               class="clips.views.RemoveAction"
               enablesFor="+"
               icon="icons/remove.gif"
               id="Clips.removeAction"
               label="Remove"
               style="push"
               toolbarPath="additions"/>
         <action
               class="clips.views.RotateDownAction"
               icon="icons/rotatedown.gif"
               id="Clips.rotateDownAction"
               label="Rotate clips down"
               style="push"
               toolbarPath="additions"/>
         <action
               class="clips.views.RotateUpAction"
               icon="icons/rotateup.gif"
               id="Clips.rotateUpAction"
               label="Rotate clips up"
               style="push"
               toolbarPath="additions"/>
         <action
               class="clips.views.SwapAction"
               icon="icons/swap.gif"
               id="Clips.swapAction"
               label="Swap top two clips"
               style="push"
               toolbarPath="additions"/>
         <action
               class="clips.views.PasteAction"
               icon="icons/paste.gif"
               id="Clips.pasteAction"
               label="Paste"
               style="push"
               toolbarPath="additions"/>
      </viewContribution>
   </extension>
   <extension
         id="clips.startup"
         name="Startup"
         point="org.eclipse.ui.startup">
      <startup class="clips.Startup"/>
   </extension>
   <extension
         id="clips.commands"
         name="Clips Commands"
         point="org.eclipse.ui.commands">
      <category
            id="Clips.category"
            name="Clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.ClipsCutCommmand"
            id="Clips.cutCommand"
            name="Cut to clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.ClipsCopyCommmand"
            id="Clips.copyCommand"
            name="Copy to clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.ClipsClipboardCopyCommmand"
            id="Clips.clipboardCopyCommand"
            name="Copy clipboard to clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.ClipsPasteCommmand"
            id="Clips.pasteCommand"
            name="Paste from clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.RotateUpCommmand"
            id="Clips.rotateUpCommand"
            name="Rotate up clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.RotateDownCommmand"
            id="Clips.rotateDownCommand"
            name="Rotate down clips"/>
      <command
            categoryId="Clips.category"
            defaultHandler="clips.model.SwapCommmand"
            id="Clips.swapCommand"
            name="Swap first two clips"/>
   </extension>
   <extension
         id="Clips.bindings"
         name="Clips bindings"
         point="org.eclipse.ui.bindings">
	  <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            commandId="Clips.cutCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+X"/>
      <key
            commandId="Clips.copyCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+C"/>
      <key
            commandId="Clips.clipboardCopyCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+B"/>
      <key
            commandId="Clips.pasteCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+V"/>
      <key
            commandId="Clips.rotateUpCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+9"/>
      <key
            commandId="Clips.rotateDownCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+0"/>
      <key
            commandId="Clips.swapCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X M2+M3+6"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="clips.preferences.ClipsPreferencesPage"
            id="Clips.page"
            name="Clips">
      </page>
   </extension>

</plugin>
